<h2>Welcome to our Menu</h2>

<ul>
    <% @menus.each do |menu| %>
        <li><%= link_to menu.name, menu_admin_menus_path(menu) %></li>
    <% end %>
</ul>

<p><%= link_to "Add New Menu", new_menu_path %></p>
