<header class="break">
<h2>Add a New Menu Name</h2>
</header>

<% if @menu.errors.any? %>
<div id="error_explanation">
<%= pluralize(@menu.errors.count, "error") %> 
<ul>
    <% @menu.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
</div>
<% end %>


<%= render partial: 'form', locals: {menu: @menu} %>


