<header class="break">
<h2>Welcome, <%= current_user.name %></h2>
</header>


<h4>My Orders</h4>

<% current_user.orders. each do |order| %>
    <p><%= link_to order.created_at, order_path(order) %></p>

<% end %>