<header class="break">
<h2>Create a New Item</h2>
</header>
<% if @item.errors.any? %>
<div id="error_explanation">
<%= pluralize(@item.errors.count, "error") %> 
<ul>
    <% @item.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
</div>
<% end %>


<%= render partial: 'form', locals: {item: @item} %>