<h2><%= @category.name %></h2>

<% @category.items.each do |item| %>
    <p><%= item.name %> - $<%= item.price %></p>
<% end %>

<p><%= link_to "Add Items to Menu", new_menu_item_path(@category) %></p>