<h1>Welcome to Chaya's Cafe!</h1>

<% if user_signed_in? %>
    <% if current_user.admin %>
    <h5>--- Admin ---</h5>
    <p><%= link_to "Menu List", menus_path %>
    <p><%= link_to "Category List", categories_path %>
    <h5>---- Only ----</h5>
    <% end %>
<% end %>

<p><%= link_to "View Menu", items_path %>